<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<head>
    <title>Welcome</title>
</head>
<style>
    .middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
</style>

<body>
    <div>
        <div class="middle" th:object="${user}">
            <h1 class="w3-jumbo w3-animate-top" th:text="#{home.title}">Your Info</h1>
            <span>
                <h4 th:text="#{label.name} + ': ' + ${user.name}">Name:</h4>
            </span>
            <span>
                <h4 th:text="#{label.email} + ': ' + ${user.email}">Email:</h4>
            </span>
            <span>
                <h4 th:text="#{label.role} + ': ' + ${user.role}">Role: </h4>
            </span>
            <div th:if="${#strings.toString(user.role) == 'MANAGER'}">
                <a th:href="@{/manager}" th:text="#{home.message.info_manager}">Info for Managers</a>
            </div>
            <br>
            <a th:href="@{/logout}" th:text="#{home.message.logout}">log out</a>
            <br>
            <br>
            <div>
                <a th:href="@{/home(lang=en)}" th:text="#{language.english}">English</a> | <a th:href="@{/home(lang=zh)}" th:text="#{language.chinese}"></a>
            </div>
        </div>
    </div>