<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<head>
    <title>Manager</title>
</head>
<style>
    .middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
</style>

<body>
    <div>
        <div class="middle" th:object="${user}">
            <h1 class="w3-jumbo w3-animate-top" th:text="#{manager.title}">Restricted</h1>
            <h4 th:text="#{manager.message}">manager's info</h4>
            <a th:href="@{/home/all}" th:text="#{page.back}"></a>
            <br>
            <br>
            <a th:href="@{/logout}" th:text="#{home.message.logout}">Logout</a>
            <br>
            <br>
            <div>
                <a th:href="@{/home/manager(lang=en)}" th:text="#{language.english}"></a> | <a th:href="@{/home/manager(lang=zh)}" th:text="#{language.chinese}"></a>
            </div>
        </div>
    </div>